{
  "branches": ["main"],
  "plugins": [
    "@semantic-release/commit-analyzer",
    "@semantic-release/release-notes-generator",
    ["@semantic-release/exec", {
      "prepareCmd": "echo 'Next version is ${nextRelease.version}'",
      "verifyReleaseCmd": "echo 'Comparing ${nextRelease.version} with current latest version'"
    }]
  ]
}
